<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetNyuku"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BudgetNyuku">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NyukuLauncher" />
        <activity android:name=".LogIn" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".ManageCategories" />
        <activity android:name=".CategoryReportActivity" />
        <activity android:name=".BudgetSettingsActivity" />
        <activity android:name=".ExpenseListActivity" />
        <activity android:name=".AddEditExpense" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".FAQActivity" />

    </application>

</manifest>